@import "../../styles/variables.css";

.footer {
  min-width: 100vw;
  min-height: 7em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color);
}
